@import "tailwindcss";
@plugin "@tailwindcss/typography";

@page {
  size: landscape;
  margin: 8mm;
}

@media print {
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
